/* 
    Document   : icon
    Created on : 01-jun-2012, 7:06:12
    Author     : Antonio
    Description:
        Purpose of the stylesheet follows.
*/

.next{
    background-image: url(../icon/next.png) !important;
}

.back{
    background-image: url(../icon/back.png) !important;
}

.edit{
    background-image: url(../icon/pencil.png) !important;
}
.save{
    background-image: url(../icon/save.png) !important;
}

.cancelar{
    background-image: url(../icon/cancel.png) !important;
}

.borrar{
    background-image: url(../icon/trash.png) !important;
}

.add{
    background-image: url(../icon/add.png) !important;
}

.findme{
    background-image: url(../icon/map.png) !important;
}

.remove{
    background-image: url(../icon/remove.png) !important;
}

.aceptar{
    background-image: url(../icon/accept.png) !important;
}