/* 
    Document   : menu
    Created on : 30-may-2012, 0:07:53
    Author     : Antonio
    Description:
        Purpose of the stylesheet follows.
*/

.admin{
    background-image: url(../icon/id_card.png) !important;
    margin-right: 10px
}

.pois{
    background-image: url(../icon/map_blue.png) !important;
    margin-right: 10px
}

.maps{
    background-image: url(../icon/earth.png) !important;
    margin-right: 10px
}

.red{
    background-image: url(../icon/users.png) !important;
    margin-right: 10px
}

.user{
    background-image: url(../icon/user.png) !important;
    margin-right: 10px
}